@charset 'utf-8';
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menuname{
    font-family: 'TmoneyRoundWindExtraBold';
    color: white;
    font-size: 72px;
    position: absolute;
    top: 372px;
    left: 46%;
}

/* Section */
.location{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
}
.slogan{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 48px;
    color: #505050;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.borderline{
    width: 250px;
    margin: 0 auto;
    height: 2px;
    background: black;
    margin-bottom: 110px;
}

#section1{
    width: 100%; 
    margin: 0 auto;
    margin-bottom: 200px;
}
#sec1{
    width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
}
#sec2{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.b1{
    border-radius: 50px;
    border: 3px solid #68b445;
    float: left;
    width: 550px;
    height: 300px;
    margin-right: 50px;
    text-align: center; 
}

.b1>p{
    margin-top: 140px;
    color: #505050;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.b2{
    border-radius: 50px;
    border: 3px solid #68b445;
    float: left;
    width: 550px;
    height: 300px;
    margin-left: 50px;
    text-align: center;
}
.b2>p{
    margin-top: 140px;
    color: #505050;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.b3{
    border-radius: 50px;
    width: 1200px;
    margin: 0 auto;
    height: 106px;
    border: 3px solid #ed1f27;
    clear: both;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.b3>p:nth-child(1){
    line-height: 100px;
    float: left;
    width: 50%;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #505050;
}
.b3>p:nth-child(2){
    line-height: 100px;
    float: left;
    width: 50%; 
}
.b3>p:nth-child(2)>a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: 3px solid #505050;
    padding: 10px 30px 10px 30px;
    color: #505050;
}
.b3>p:nth-child(2)>a:hover{
    background: #505050;
    color: white;
}

.b4{
    border: 3px solid #68b445;
    border-radius: 50px;
    float: left;
    width: 550px;
    height: 300px;
    margin-right: 50px;
    text-align: center;
}
.b4>p{
    margin-top: 140px;
    color: #505050;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.b5{
    border-radius: 50px;
    border: 3px solid #68b445;
    float: left;
    width: 550px;
    height: 300px;
    margin-left: 50px;
    text-align: center;
}
.b5>p{
    margin-top: 140px;
    color: #505050;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

/* 슬라이드 배너 */
.clear{content: ''; display: block; clear: both;}
#section2{width: 1200px; margin: 0 auto; margin-bottom: 300px;}
#section2 h3{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 48px;
    color: #68b445;
    text-align: center;
}
#warm, #vege, #burger{overflow: hidden; position: relative; margin-bottom: 200px;}
.banner{ width: 1200px; height: 350px;  position: relative; overflow: hidden; margin-top: 50px;}
.banner ul{position: absolute; left: 0px; top: 0px; padding-left: 45px;}
.banner ul li{float: left; width: 400px; height: 350px;}
.banner ul li img{display: block; width: 300px;}
.banner>ul>li>.pp1{
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    color: #505050;
    font-size: 24px;
}
.banner>ul>li>.pp2{
    margin-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #505050;
    font-size: 14px;
}
#prev{
    position: absolute;
    top: 155px;
    left: 0;
}
#next{
    position: absolute;
    top: 155px;
    right: 0;
}


/* DEY */
#section3{
    margin-bottom: 200px;
    width: 1200px;
    margin: 0 auto;
}
#section3>h1{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 48px;
    color: #68b445;
    text-align: center;
    margin-bottom: 50px;
}
#section3>h2{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 24px;
    color: #505050;
    text-align: center;
    margin-bottom: 100px;
}
.d1{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.d2 h2, .d3 h2, #d4 h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #505050;
}
.d2 h3, .d3 h3, #d4 h3{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #505050;
}
.p1{
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
    float: left;
    width: 450px;
    height: 200px;
    margin-right: 50px;
}
.p2{
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
    float: left;
    width: 450px;
    height: 200px;
    margin-left: 50px;
}
.p1>h2, .p2>h2{
    padding-top: 50px;
}
.p1>h3, .p2>h3{
    padding-top: 50px;
}

.d2{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}
.d2 h2{
    margin-bottom: 20px;
}
.d2 h3{
    margin-bottom: 30px;
}
.d2 ul li{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 28px;
    _color: #505050;
    color: black;
    line-height: 200px;
}
.u1 li{
    float: left;
    width: 270px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
}
.u1 li:nth-child(2){
    margin: 0 20px 0 40px;
}
.u1 li:nth-child(3){
    margin: 0 40px 0 20px;
}

.u2 li{
    float: left;
    width: 270px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.u2 li:nth-child(2){
    margin: 40px 20px 0 40px;
}
.u2 li:nth-child(3){
    margin: 40px 40px 0 20px;
}

.u3 li{
    float: left;
    width: 208px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
}
.u3 li:nth-child(2){
    margin: 0 20px 0 40px;
}
.u3 li:nth-child(3){
    margin: 0 20px 0 20px;
}
.u3 li:nth-child(4){
    margin: 0 40px 0 20px;
}


.d3{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}
.d3 h2{
    margin-bottom: 20px;
}
.d3 h3{
    margin-bottom: 30px;
}
.d3 ul li{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 28px;
    _color: #505050;
    color: black;
    line-height: 200px;
}
.u4 li{
    float: left;
    width: 208px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
    margin-bottom: 40px;
}
.u4 li:nth-child(2){
    margin: 0 20px 0 40px;
}
.u4 li:nth-child(3){
    margin: 0 20px 0 20px;
}
.u4 li:nth-child(4){
    margin: 0 40px 0 20px;
}
.u5 li{
    float: left;
    width: 208px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
}
.u5 li:nth-child(2){
    margin: 0 20px 0 40px;
}
.u5 li:nth-child(3){
    margin: 0 20px 0 20px;
}
.u5 li:nth-child(4){
    margin: 0 40px 0 20px;
}
 

#d4{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 200px;
    text-align: center;
}
#d4 h2{
    margin-bottom: 20px;
}
#d4 h3{
    margin-bottom: 30px;
}
#d4 ul li{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 28px;
    _color: #505050;
    color: black;
}
#d4 ul li p{
    font-size: 18px;
}
.u6 li{
    float: left;
    width: 373px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 50px;
}
.u6 li:nth-child(2){
    margin: 0 40px 0 40px;
}
.u6 li p{
    padding-top: 30px; 
}
.u7 li{
    float: left;
    width: 270px;
    height: 200px;
    border-radius: 50px;
    background: #ceffb7;
    text-align: center;
    padding-top: 50px;
}
.u7 li:nth-child(2){
    margin: 0 20px 0 40px;
}
.u7 li:nth-child(3){
    margin: 0 40px 0 20px;
}
.u7 li p{
    padding-top: 15px; 
}



/* 767px~1371px */
@media screen and (min-width:767px) and (max-width:1371px){
    .menuname{
        left: 44%;
    }
}

/* ~766px */
@media screen and (max-width:766px){
    .menuname{
        left: 40%;
    }
    
    #section1{
        width: 100%; 
        margin: 0 auto;
        margin-bottom: 200px;
    }
    #sec1{
        width: 600px;
        margin: 0 auto; 
        overflow: hidden;
        padding-left: 25px;
    }
    #sec2{
        width: 600px;
        margin: 0 auto;
        overflow: hidden;
        padding-left: 25px;
    }

    .b1{
        border-radius: 50px;
        border: 3px solid #68b445;
        float: left;
        width: 550px;
        height: 300px;
        margin-right: 0px;
        text-align: center; 
        margin-bottom: 50px;
    }

    .b1>p{
        margin-top: 140px;
        color: #505050;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    .b2{
        border-radius: 50px;
        border: 3px solid #68b445;
        float: left;
        width: 550px;
        height: 300px;
        margin-left: 0px;
        text-align: center;
    }
    .b2>p{
        margin-top: 140px;
        color: #505050;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    .b3{
        border-radius: 50px;
        width: 550px;
        margin: 0 auto;
        height: 106px;
        border: 3px solid #ed1f27;
        clear: both;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    .b3>p:nth-child(1){
        line-height: 100px;
        float: left;
        width: 50%;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #505050;
    }
    .b3>p:nth-child(2){
        line-height: 100px;
        float: left;
        width: 50%; 
    }
    .b3>p:nth-child(2)>a{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 16px;
        border: 3px solid #505050;
        padding: 10px 30px 10px 30px;
        color: #505050;
    }
    .b3>p:nth-child(2)>a:hover{
        background: #505050;
        color: white;
    }

    .b4{
        border: 3px solid #68b445;
        border-radius: 50px;
        float: left;
        width: 550px;
        height: 300px;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 50px;
    }
    .b4>p{
        margin-top: 140px;
        color: #505050;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    .b5{
        border-radius: 50px;
        border: 3px solid #68b445;
        float: left;
        width: 550px;
        height: 300px;
        margin-left: 0px;
        text-align: center;
    }
    .b5>p{
        margin-top: 140px;
        color: #505050;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }
    
    /* 슬라이드 배너 */
    .clear{content: ''; display: block; clear: both;}
    #section2{width: 600px; margin: 0 auto; margin-bottom: 300px;}
    #section2 h3{
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 48px;
        color: #68b445;
        text-align: center;
    }
    #warm, #vege, #burger{overflow: hidden; position: relative; margin-bottom: 200px;}
    .banner{ width: 600px; height: 350px;  position: relative; overflow: hidden; margin-top: 50px;}
    .banner ul{position: absolute; left: 0px; top: 0px; padding-left: 45px;}
    .banner ul li{float: left; width: 200px; height: 350px;}
    .banner ul li img{display: block; width: 120px;}
    .banner>ul>li>.pp1{
        text-align: left;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        color: #505050;
        font-size: 16px;
    }
    .banner>ul>li>.pp2{
        margin-top: 10px;
        font-family: 'Nanum Gothic', sans-serif;
        color: #505050;
        font-size: 10px;
    }
    #prev{
        position: absolute;
        top: 160px;
        left: 0;
    }
    #next{
        position: absolute;
        top: 160px;
        right: 0;
    }
    
    /* DEY */
    #section3{
        margin-bottom: 200px;
        width: 550px;
        margin: 0 auto;
    }
    #section3>h1{
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 48px;
        color: #68b445;
        text-align: center;
        margin-bottom: 50px;
    }
    #section3>h2{
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 24px;
        color: #505050;
        text-align: center;
        margin-bottom: 100px;
    }
    .d1{
        overflow: hidden;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .d2 h2, .d3 h2, #d4 h2{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 28px;
        color: #505050;
    }
    .d2 h3, .d3 h3, #d4 h3{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #505050;
    }
    .p1{
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
        float: left;
        width: 250px;
        height: 200px;
        margin-right: 25px;
    }
    .p2{
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
        float: left;
        width: 250px;
        height: 200px;
        margin-left: 25px;
    }
    .p1>h2, .p2>h2{
        padding-top: 50px;
    }
    .p1>h3, .p2>h3{
        padding-top: 50px;
    }

    .d2{
        overflow: hidden;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
    }
    .d2 h2{
        margin-bottom: 20px;
    }
    .d2 h3{
        margin-bottom: 30px;
    }
    .d2 ul li{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 28px;
        _color: #505050;
        color: black;
        line-height: 200px;
    }
    .u1 li{
        float: left;
        width: 250px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
    }
    .u1 li:nth-child(1){
        margin: 0 25px 25px 0px;
    }
    .u1 li:nth-child(2){
        margin: 0 0px 25px 25px;
    }
    .u1 li:nth-child(3){
        margin: 0 25px 25px 0px;
    }
    .u1 li:nth-child(4){
        margin: 0 0px 25px 25px;
    }

    .u2 li{
        float: left;
        width: 250px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .u2 li:nth-child(1){
        margin: 0 25px 25px 0px;
    }
    .u2 li:nth-child(2){
        margin: 0 0px 25px 25px;
    }
    .u2 li:nth-child(3){
        margin: 0 25px 25px 0px;
    }
    .u2 li:nth-child(4){
        margin: 0 0px 25px 25px;
    }

    .u3 li{
        float: left;
        width: 250px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
    }
    .u3 li:nth-child(1){
        margin: 0 25px 25px 0px;
    }
    .u3 li:nth-child(2){
        margin: 0 0px 25px 25px;
    }
    .u3 li:nth-child(3){
        margin: 0 25px 25px 0px;
    }
    .u3 li:nth-child(4){
        margin: 0 0px 25px 25px;
    }
    .u3 li:nth-child(5){
        width: 550px;
        margin: 0 0px 25px 0px;
    }


    .d3{
        overflow: hidden;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
    }
    .d3 h2{
        margin-bottom: 20px;
    }
    .d3 h3{
        margin-bottom: 30px;
    }
    .d3 ul li{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 28px;
        _color: #505050;
        color: black;
        line-height: 200px;
    }
    .u4 li{
        float: left;
        width: 250px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
        margin-bottom: 40px;
    }
    .u4 li:nth-child(1){
        margin: 0 25px 25px 0px;
    }
    .u4 li:nth-child(2){
        margin: 0 0px 25px 25px;
    }
    .u4 li:nth-child(3){
        margin: 0 25px 25px 0px;
    }
    .u4 li:nth-child(4){
        margin: 0 0px 25px 25px;
    }
    .u4 li:nth-child(5){
        width: 550px;
        margin: 0 0px 25px 0px;
    }
    
    .u5 li{
        float: left;
        width: 250px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
    }
    .u5 li:nth-child(1){
        margin: 0 25px 25px 0px;
    }
    .u5 li:nth-child(2){
        margin: 0 0px 25px 25px;
    }
    .u5 li:nth-child(3){
        margin: 0 25px 25px 0px;
    }
    .u5 li:nth-child(4){
        margin: 0 0px 25px 25px;
    }
    .u5 li:nth-child(5){
        width: 550px;
        margin: 0 0px 25px 0px;
    }


    #d4{
        overflow: hidden;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 200px;
        text-align: center;
    }
    #d4 h2{
        margin-bottom: 20px;
    }
    #d4 h3{
        margin-bottom: 30px;
    }
    #d4 ul li{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bold;
        font-size: 28px;
        _color: #505050;
        color: black;
    }
    #d4 ul li p{
        font-size: 18px;
    }
    .u6 li{
        float: left;
        width: 550px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
        margin-bottom: 40px;
        padding-top: 50px;
    }
    .u6 li:nth-child(2){
        margin: 0 0px 25px 0px;
    }
    .u6 li p{
        padding-top: 30px; 
    }
    .u7 li{
        float: left;
        width: 550px;
        height: 200px;
        border-radius: 50px;
        background: #ceffb7;
        text-align: center;
        padding-top: 50px;
    }
    .u7 li:nth-child(2){
        margin: 50px 0px 50px 0px;
    }
    .u7 li:nth-child(3){
        margin: 0 0px 50px 0px;
    }
    .u7 li p{
        padding-top: 15px; 
    }

    
}